html {
    background-color: antiquewhite;
}
header {
    display: flex;
    flex-direction: row;
}

header .profile-thumbnail {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

header .logo {
    width: auto;
    height: 75px;
    display: flex;
    margin: 0 0 0 auto;
}

header .profile-name {
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body .pd {
    font-style: italic;
}

body .title {
    text-align: center;
    color: blueviolet;
}

body .list {
    display: flex;
    flex-direction: row;
    text-align: center;
}

body .game {
    text-align: center;
}

body .game-logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

body .artists {
    margin: 0 0 0 auto;
}

body .ej {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
}
